{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="searchpage">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Search Result
      </h1>
    </div>

    <section class="searchbox container mt-5 p-3 bg-accent">
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <select id="inputState" class="form-control">
              <option selected disabled hidden>City</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <select id="inputState" class="form-control">
              <option selected disabled hidden>Camera Type</option>
              <option>Value 1</option>
              <option>Value 2</option>
              <option>Value 3</option>
              <option>Value 4</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <select class="form-control">
              <option selected disabled hidden>Category</option>
              <option>...</option>
            </select>
          </div>
        </div>

      </form>
      <div class="text-center">

        <button class="btn btn-light">Search</button>
      </div>
    </section>



    <section class="search-results container mt-3 grid">


{% for tuber in tubers %}
      <!-- person 1 -->
      <div class="card border-0 text-center">
        <div>
          <img src="{{ tubers.photo.url }}" class="card-img-top" alt="team-member">

        </div>
        <div class="card-body">
          <h5 class="card-title">Team Member One</h5>
          <p class="card-text">Gaming</p>
          <div class="person-description mt-2">
            <button class="btn btn-accent"> City </button>
            <button class="btn btn-accent"> Age </button>
            <button class="btn btn-accent"> Height </button>
          </div>
          <div class="person-description mt-2">
            <button class="btn btn-accent"> Solo </button>
            <button class="btn btn-accent"> Canon </button>
            <button class="btn btn-accent"> Subs </button>
          </div>
        </div>
      </div>
{% endfor %}


    </section>
  </main>

{% endblock %}